* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Figma tokens */

.text-regular {
    color: #68778D;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 16px;
}
.text-bold {
    color: #1F314F;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
}

/* Custom styles */

body {
    background-color: #D5E1EF;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    background-color: #FFFFFF;
    max-width: 320px;
    margin: auto;
    padding: 16px 16px 40px 16px;
    border-radius: 20px;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 5%);
}
.text-box {
    margin-top: 24px;
    padding: 0 16px;
}
.image{
    display: block;
    width: 288px;
    height: 288px;
    border-radius: 10px;
}